<%= form_for (@monster) do |f| %>
  <p>Monster's Name:</p>
    <%= f.text_field :name %><br /><br />
  <p>Choose a Head:</p>
    <%= f.collection_radio_buttons :head_id, @heads, :id, :name do |b|
            b.label {b.radio_button + image_tag(b.object.img, height: 150)} end %><br><br /><br />
	<p>Choose a Torso:</p>
    <%= f.collection_radio_buttons :torso_id, @torsos, :id, :name do |b|
            b.label {b.radio_button + image_tag(b.object.img, height: 150)} end %><br><br /><br />
	<p>Choose the Arms:</p>
    <%= f.collection_radio_buttons :arm_id, @arms, :id, :name do |b|
            b.label {b.radio_button + image_tag(b.object.img, height: 150)} end %><br><br /><br />
	<p>Choose the Legs:</p>
    <%= f.collection_radio_buttons :leg_id, @legs, :id, :name do |b|
            b.label {b.radio_button + image_tag(b.object.img, height: 150)} end %><br><br><br />


  <%= f.submit class: "btn btn-primary"%>
  <br /><br />
<% end %>
