<h1><%= @monster.name %></h1>

<%= image_tag(@imgs[:head], height: 300) %><br />
<%= image_tag(@imgs[:torso], height: 300) %><br />
<%= image_tag(@imgs[:leg], height: 300) %><br />
<<<<<<< HEAD
=======
<%= image_tag(@imgs[:l_arm], height: 300) %><br />
<%= image_tag(@imgs[:r_arm], height: 300) %><br />
>>>>>>> cf05cb6031b52deab22ccbacc1ce42cf98fa0339

<br /><br />

<h2>Stats</h2>

<% @stats.each do |attr, value| %>
  <%= attr.capitalize %>: <%= value %><br />
<% end %>

<!-- <h4><%= @monster.name %> Details:</h4>
<h5><%= @monster.head.name %></h5>
  <ul>
    <li>Weight: <%= @monster.head.weight %></li>
    <li>Power: <%= @monster.head.power %></li>
    <li>Defense: <%= @monster.head.defense %></li>
    <li>Cuteness: <%= @monster.head.cuteness %></li>
    <li>Intelligence: <%= @monster.head.intelligence %></li>
  </ul>

  <h5><%= @monster.torso.name %></h5>
  <ul>
    <li>Weight: <%= @monster.torso.weight %></li>
    <li>Power: <%= @monster.torso.power %></li>
    <li>Defense: <%= @monster.torso.defense %></li>
    <li>Dadbod? <%= @monster.torso.dadbod %></li>
  </ul>

  <h5><%= @monster.leg.name %></h5>
  <ul>
    <li>Weight: <%= @monster.leg.weight %></li>
    <li>Power: <%= @monster.leg.power %></li>
    <li>Defense: <%= @monster.leg.defense %></li>
    <li>Speed: <%= @monster.leg.speed %></li>
  </ul> -->


<br />

<a class="btn btn-primary" href="<%= edit_monster_path(@monster) %>" role="button">Edit Monster</a>

<a class="btn btn-primary" href="<%= monsters_path %>" role="button">All Monsters</a>

<br /><br />
