<h1><%= @monster.name %></h1>

<%= audio_tag("musical_air_horn_dancehall_style_006.mp3", autoplay: true) if flash[:hype] %>
<% flash.discard %>


<div class="monster_bod">
  <%= image_tag(@imgs[:head], class: "head" + " " + @imgs[:head].gsub(".png", "") + " " + "on_" + @imgs[:torso].gsub(".png", "")) %><br />
  <%= image_tag(@imgs[:torso], class: "torso" + " " + @imgs[:torso].gsub(".png", "")) %><br />
  <%= image_tag(@imgs[:leg], class: "leg" + " " + @imgs[:leg].gsub(".png", "") + " " + "on_" + @imgs[:torso].gsub(".png", "")) %><br />
  <%= image_tag(@imgs[:l_arm], class: "l_arm" + " " + @imgs[:l_arm].gsub(".png", "") + " " + "on_" + @imgs[:torso].gsub(".png", "")) %><br />
  <%= image_tag(@imgs[:r_arm], class: "r_arm" + " " + @imgs[:r_arm].gsub(".png", "") + " " + "on_" + @imgs[:torso].gsub(".png", "")) %><br />
</div>

<h2>Stats</h2>

<% @stats.each do |attr, value| %>
  <%= attr.capitalize %>: <%= value %><br />
<% end %>

<br />

<a class="btn btn-primary" href="<%= monsters_path %>" role="button">All Monsters</a>

<a class="btn btn-primary" href="<%= edit_monster_path(@monster) %>" role="button">Edit Monster</a>

<a class="btn btn-primary" href="<%= monsters_stats_path %>" role="button">All Stats</a>

<br /><br />
  <%= form_tag monster_path(@monster.id), method: "delete" do %>
    <%= submit_tag("Delete", :class => "btn btn-danger" ) %>
  <% end %>

<br /><br />
