<h1>Monster Stats</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Attribute</th>
      <th scope="col">Average</th>
      <th scope="col">Highest</th>
      <th scope="col">Lowest</th>
    </tr>
  </thead>
  <tbody>
		<% @stats.each do |attr, display| %>
    <tr>
      <th scope="row"><%= attr.capitalize %></th>
      <td><%= display[:average] %></td>
      <td><%= link_to display[:highest].name, monster_path(display[:highest]) %>: <%= display[:highest].public_send(attr) %></td>
      <td><%= link_to display[:lowest].name, monster_path(display[:lowest]) %>: <%= display[:lowest].public_send(attr) %></td>
    </tr>
		<% end %>

  </tbody>
</table>
